*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;

  // scroll-behavior: smooth;
  // height: 50vh;
  // overflow-y: scroll;
}

li {
  list-style: none;
}
